/* margin */
/* border */
/* padding */
/* content */

#top{
    border: 4px solid blue;
    width:25%;

    /* will take up 25% of the browser*/
    text-align: center;

    /* top,right,bottom,left */

    /* could also use margin-left  */
    /* margin: 10px 20px 100px 400px; */

    /* auto centers it */
    margin: auto;
}

#bottom{
    border: 4px solid red;
    width: 50%;

    /* padding makes space between the content itself and the border */
    padding: 50px;
}