h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.art{
    margin: auto;
}

td{
    height: 200px;
    width: 200px;
}


#s1{
    background-color: #f58056;
}

#s2{
    background-color: rgb(207, 105, 129);
}

#s3{
    background-color: #5fc290;
}

#s4{
    background-color: #b0e69e;  
}

#s5{
    background-color: #e3e572; 
}
 