.ps2p{
    font-family: 'Press Start 2P', cursive; 
}

.tableset{
    margin: auto;
}

select{
    height: 30px;
}

html{
    border: 30px solid green;
}

input{
    height: 30px;
}

/* the position doesn't seem right? why negative values */
.alignright{
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    position: relative; right:-1100px; top:-50px;
}

a:visited, a:link, a:active
{
    color: black;
    text-decoration: none;
}

a:hover{
    color: green;
}

select:hover{
    color: green;
}