/* ch 3 css basics */
/* while you can define styling within the html file itself, it is much more common 
(and better) to create a seperate .css file and then link it to the html file  */

/* format for css */
/* selected tag{
    property: value;
} */

/* built in colors */
h1{
    color:green;
}

/* rgb */
li{
    color:rgb(0, 255, 153);
}

/* hex codes */
h4{
    color:#a89b32;
}

/* a in rgba stands for alpha - determines how dark or transparent the color is*/
p{
    color:rgba(255,97,0,.78)
}

body{
    background: url(https://www.fourseasons.com/alt/img-opt/~80.1340.135,0000-0,0000-810,0000-810,0000/publish/content/dam/fourseasons/images/web/MPI/MPI_ugc_jbredon.jpg);
    background-size: contain;
    
}

div{
    background-color: #131314;
    border-color: orange;
    border-width: 10;
    border-style: double;
    background-size: contain;
}

span{
    background-color:#39393b;
}
/* backgrounds and borders */
/* how to utilize the div and span tags mentioned earlier*/