div{
    color: rgb(25, 100, 25)
}

/* you can tell css that a class is a class with a dot . */

.first{
    color:blue
}
.second{
    color:red
}

#singledout{
    color:rgb(212, 145, 19)
}

#line{
    color:green;
    text-decoration: line-through;
}

/* asterisk selects every element on the page*/
/* *{
    color: purple;
} */

/* select all ol & ul after an h3 */
h3 + ol,ul{
    border: 4px dotted rgb(68, 65, 68);
}

/* all a (anchor tags) inside a list */
li a{
    color:rgb(161, 66, 55)
}

li a[href="https://www.youtube.com/"]{
    color:coral;
    border:2px solid black
}
